html {
  box-sizing: border-box;
}
body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); 
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* 
   Este formato de prefijos CSS es utilizado para la libreria React-Transition-Group
   En el componente <CSSTransition>
*/
span.resumen {
  position: relative;
  width: 100%;
}
.resumen-enter {
  transition: .8s;
  transform: scale(0%);
}
.resumen-enter-active {
  transform: scale(110%);
}
/* 
  Los prefijos "exit" y "exit-active" crean otro elemento html del nodo con la clase "resumen", por lo tanto lo ponemos como:
    position : absolute
    transform: scale(0%);
  Para que no se lo vea y tampoco difiera en la interfaz al momento de realizar el efecto
*/
.resumen-exit {
  position : absolute;
  transform: scale(0%);
}
.resumen-exit-active {
  transform: scale(0%);
}


/* 
   Este formato de prefijos CSS es utilizado para la libreria React-Transition-Group
   En el componente <CSSTransition>
*/
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}